.bg-modal-2{
    width: 100%;
    height: 2748px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
    
}
.modal-content2{
    width: 500px;
    height: 562px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 2px;
    position: relative;
    margin: auto;
    margin-top: 1066px;
    .btn-two{
        background-color: $color;
        color: $white;
        border: $color;
        padding: 10px;
    }
    .close{
        position: absolute;
        top: 0;
        right: 14px;
        font-size: 42px;
        transform: rotate(45deg);
        cursor: pointer; 
    }
    .taille{
        width: 300px;
    }
    .form{
        .info{
            margin: 30px;
        }
        input{
            width: 60%;
            display: block;
            margin: 17px auto;
            padding: 10px 10px;
        }
        .erreur2{
            position: relative;
            top: 7Opx;
            top: -15px;
            font-size: 12px;
            text-align: left;
            left: 97px;
                }
        a{
            color: white;
            background-color: #05AAEA;
            border: 1px solid #05AAEA;
            padding: 10px 100px;
            font-size: 17px;
            text-decoration: none;
            display: inline-block;
            margin-top: -3px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width:1000px){

   
    .bg-modal-2{
        width: 100%;
        height: 3646px;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        justify-content: center;
        align-items: center;
        z-index: 2;
        display: none;
        
    }
    .modal-content2{
        width: 441px;
        height: 562px;
        background-color: white;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        position: relative;
        margin: auto;
        margin-top: 1830px;
    }


}