

<footer>
    <div class="container ftr">
     
        <div class="row text-center">
            <ul class="d-flex col-md-12  ">
<li><a>Condition Générales d'Utitlisation </a></li>
<li><a>Appels d'offres </a></li>
<li><a>Recrutement </a></li>
<li><a>Bilans & Statistiques </a></li>
            </ul>
            <ul class="d-flex col-md-12  ">
                <li><i class="fab fa-facebook-f"></i>
                </li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fas fa-rss"></i></li>
            </ul>
            <div class="col-md-12" >© 2016 - Agence Urbaine SAFI-YOUSSOUFIA - Tous droits réservés | Conception et réalisation : Social Impulse</div>
        </div>

    </div>

</footer>